* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.main {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #fff;
  border-radius: 1rem;
}

@font-face {
  font-family: "Neue Machina";
  src: url(/assets/fonts/neue-machina/NeueMachina-Regular.otf);
}
body {
  height: 100vh;
  background-image: linear-gradient(
    150deg,
    rgb(76, 47, 240),
    rgb(12, 139, 243),
    rgb(187 4 247),
    rgb(251, 94, 3)
  );
  background-repeat: no-repeat;
  color: #fff;
}

@media only screen and (min-width: 768px){
  .main{
    max-width: 1024px;
    margin: 1rem auto;
  }
}