.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .image{
  display: contents;
}
.header .foto {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
}
.header .avatar{
  border-radius: 50%;
  margin: auto;
  width: 100px;
  height: 100px;
  position: relative;
  top: 50px;
  right: 50px;
}
.header .title {
  text-align: center;
  font-family: "Neue Machina";
}
.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.info p , a{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem;
  font-size: 1.25rem;
  text-decoration: none;
  color: #fff;
}

.info p::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0.5rem;
}
.info a:hover{
  text-decoration: underline;
}
.info .job::before {
  background-image: url("../icons/do-utilizador.png");
}
.info .local::before {
  background-image: url("../icons/localizacao.png");
}
.info .email::before {
  background-image: url("../icons/o-email.png");
}
.info .fone::before {
  background-image: url("../icons/telefone.png");
}

@media only screen and (min-width: 768px) {
  .header {
    display: grid;
    grid-template-areas:
      "foto title"
      "foto info";
  }

  .header .foto {
    grid-area: foto;
    margin: 0 auto;
  }
  .header .title {
    grid-area: title;
    text-align: start;
    max-width: 200px;
  }
  .header .info {
    grid-area: info;
  }
}
